type: "MARKDOWN_NOTE"
folder: "1d72b0f0fbe4a766687d"
title: "Image Processing"
content: '''
  # Image Processing
  
  ## 8/28
  
  Image Processing
  
  Installed matlab, talked about nothing much
  Dr Murat Akcakaya
  412-624-8622
  akcakaya@pitt.edu
  Use Courseweb
  
  #Grading
  Midterm: 25%
  Final: 30%
  Homework: 20%
  Projects: 25%
  
  ## 8/30
  
  
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-08-31T13:38:45.356Z"
updatedAt: "2017-08-31T13:43:28.412Z"
