type: "MARKDOWN_NOTE"
folder: "1d72b0f0fbe4a766687d"
title: "Image Processing"
content: '''
  # Image Processing
  
  ## 8/28
  
  Image Processing
  
  Installed matlab, talked about nothing much
  Dr Murat Akcakaya
  412-624-8622
  akcakaya@pitt.edu
  Use Courseweb
  
  #Grading
  Midterm: 25%
  Final: 30%
  Homework: 20%
  Projects: 25%
  
  ## 8/30
  
  ### Chapter 2: Fundamentals
  
  #### Formula
  $$c = \\lambda (v)$$
  
  $$E = hv$$
  
    lambda = wavelength
  
    v = frequ (Hz)
  
    c: speed of light(propogation in the medium)
  
    h: Planck''s constant
  
  
  #### Light and EM Spectrum
  
    - colors we percieve are what the object reflects
  
    green objects reflect light with wavelengths primarily 500-570 nm range
  
    - Chromatic light bands: .43 - .79 um
  
  
    - #Radiance: total amount of energy
  
    - #Luminance (lm) the amount of energy an observer percieve.
  
    - #Brightness: a subjective descriptor of light perception that is impossible
    to measure.
  
    - #Intensity: black to white/ gray scale
  
    - Monochromatic light: void of color.
  
  
  
  #### Simple Image Formation Model
  
    f(x, y) = i(x, y)r(x, y)
  
  
    f(x, y): intensity at the point (x, y)
  
    i(x, y): illumniation - amount of source illumination ) < i(x, y) < infinity <--
    We control this aspect
  
    r(x, y): reflectance/transmissivity. The abount of illuminations reflected/transmitted
    by object. 0 < r(x, y) < 1
  
  
  ##### Illumination
  
    #Lumen: a unit of ligh tflow or luminous flux.\\\\
  
    Lumen per square meter (lm/m^2) -- the metric unit of measure for illumination
    of a surface.
  
  ##### Reflectance
  
    - .01 for black velvet
  
    - .65 for stainless steel
  
    - .93 for snow
  
  
    To record L you need log2(maxvalueofL) bits
  
  
  ##### Interpolation: Process of using known data to estimate unknown values.
  
    - eg: zooming, shrinking rotating and geomatric correction.
  
  
  
  ##### interpolation, #resampling: an imaging method to increase or decrease the number
    of pixels in a digital image.
    
    
  ## 9/6
  
  $$f(x, y) = a_0 + a_1x + a_2y + a_yx_y$$
  
  $$f(q_{11}) = a_0 + a_1x_1 + a_2y_2 + a_3x_1y_1$$
  
  $$f(x, y) = a_0 + a_1x + a_2y + a_3xy$$
  
  ## 9/11
  
  ###### Array vs Matrix Operation
  
  - Multiplication
    - Array You go first for x firt col then first row x second col
    - Matrix product uses addition for each component
  - Honestly Google this shit to find array vs matrix 
  H[f(x, y)]  = max{f(x, y)}
  
  f = 1, 2
      3, 4
      
  H[f] = 4
  
  ## 9/18
  
  ##### Intensity Transformation and Spatial Filtering
  
  - Spatial domain
    - image plane itself, directly process the intensity values of the image plane.
  - Transform domain
    - process the transform coefficients not directly process the intensity values of the image plane.
  - Spatial domain process
    - g(x, y) = T[f(x, y)]
    - f(x,y) input image
    - g(x,y) output image
    - T: an operator on f deffined over a neighborhood of point (x, y)
  - A 3 x 3 neighborhood about a point (x, y) in an image in the spatical domain the neighborhood is moved from pixel to pixel in the image to generate an output image.
  
  ## 10/23
  
  midterm, final: 20%, computer projects: 40%, 
  4.6, 0 pinning,  how to shift image, if given filter, 3x3 and image is 600x600 what should be size of filter and image for frequency domain. 3 different filter, idea, gaussian, transition filters? equations related to those. How to form low pass, high, pass filter, notch and band pass filters.
  
  - Matrix operations, foor mult cols in first have to match rows of second.
  - Interpolation, nearest neibor, bilinear, bicubic
  - Neighborhood, adjacency, connectivity,paths, regions and boundaries.
  - What is m-path distance between two points?
  - city block distance, chess board distance, euclidean distance.
  - linear vs nonlinear operation.
  - addition of noisy images for noise reduction. <- probably not this.
  - spacial operations. 
  - geometric transoformation, affine transformation
  - intensity assignment
  - how to calculate the histograms. Get normalized histogram p(zk) = nk/MN
  - Spacial domain, averaging mask, different coeficcients and stuff.
  - bitslicing
  - histogram processing
  - h(rk) = nk
  - rk is the kth intensity value.
  - Equalization
  - histogram matching
  - prove in continuous case that 
  - slide 81?
  
  
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-08-31T13:38:45.356Z"
updatedAt: "2017-10-23T20:39:44.594Z"
