type: "MARKDOWN_NOTE"
folder: "1d72b0f0fbe4a766687d"
title: "LaTeX Practice"
content: '''
  #LaTeX Practice
  
  
  $$$
    \\lambda  
  $$$
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-09-06T18:59:40.283Z"
updatedAt: "2017-09-06T19:01:53.223Z"
