type: "MARKDOWN_NOTE"
folder: "1d72b0f0fbe4a766687d"
title: "Enjoy Performances"
content: '''
  # Enjoy Performances
  
  - 8/31/17 End of class
    - Main professor
    - Speaking about next class talks about how we'll be able to hear another perspective that's not "white guy"
    - Said with a wrinkled face and overall distaste.
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-08-31T14:44:37.901Z"
updatedAt: "2017-08-31T18:32:11.235Z"
