type: "MARKDOWN_NOTE"
folder: "1d72b0f0fbe4a766687d"
title: "Enjoy Performances"
content: '''
  # Enjoy Performances
  
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-08-31T14:44:37.901Z"
updatedAt: "2017-08-31T14:44:46.216Z"
